
cs298_proposal_your-name.aux
cs298_proposal_your-name.bbl
cs298_proposal_your-name.blg
cs298_proposal_your-name.fdb_latexmk
cs298_proposal_your-name.fls
cs298_proposal_your-name.log
cs298_proposal_your-name.synctex.gz
